<h1>Workout Details</h1>

<p><strong>Date:</strong> <%= @workout.date %></p>

<h2>Exercises</h2>
<% @workout.workout_exercises.each do |workout_exercise| %>
  <h3><%= workout_exercise.exercise.name %></h3>
  <p><strong>Description:</strong> <%= workout_exercise.exercise.description %></p>

  <h4>Workout Sets</h4>
  <% workout_exercise.workout_sets.each do |workout_set| %>
    <p><strong>Reps:</strong> <%= workout_set.reps %></p>
    <p><strong>Weight:</strong> <%= workout_set.weight %></p>
    <p><strong>Rest Time:</strong> <%= workout_set.rest_time %></p>
  <% end %>
<% end %>

<p>
  <%= link_to 'Back', user_workouts_path(@user) %>
</p>
