<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.description %></td>
        <td><%= link_to "Edit", equipment_path(equipment) %></td>
        <td><%= button_to "Delete", equipment_path(equipment), method: :delete, data: { confirm: "Are you sure you want to delete this equipment?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Equipment", new_equipment_path, class: "btn btn-primary" %>
