<h2>Create New Muscle Group</h2>

<%= form_with(model: @muscle_group, url: muscle_groups_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Create Muscle Group" %>
<% end %>
