<h2>Edit Exercise</h2>

<%= form_with(model: @exercise, url: exercise_path(@exercise), method: :patch, class: "form") do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :primary_muscle_group_id, "Primary Muscle Group" %>
    <%= form.collection_select :primary_muscle_group_id, MuscleGroup.all, :id, :name, { prompt: "Select a primary muscle group" }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :secondary_muscle_group_ids, "Secondary Muscle Groups" %><br>
    <% MuscleGroup.all.each do |muscle_group| %>
      <label>
        <%= form.check_box :secondary_muscle_group_ids, { multiple: true }, muscle_group.id, nil %>
        <%= muscle_group.name %>
      </label>
      <br>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :equipment_ids, "Equipment" %><br>
    <% Equipment.all.each do |equipment| %>
      <label>
        <%= form.check_box :equipment_ids, { multiple: true }, equipment.id, nil %>
        <%= equipment.name %>
      </label>
      <br>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :video_url %>
    <%= form.text_field :video_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, class: "form-control" %>
  </div>

  <%= form.submit "Update Exercise", class: "btn btn-primary" %>
<% end %>
